.card-swap-container {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 900px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: absolute;
    top: 60%;
    left: 50%;

    border-radius: 14px;
    border: 1px solid #000;
    background: #000;

    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform;
}

@media (max-width: 768px) {
    .card-swap-container {
        transform: scale(0.85);
    }
}

@media (max-width: 480px) {
    .card-swap-container {
        transform: scale(0.7);
    }
}