@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


html,
body {
  overflow-x: hidden;
}


:root {
    font-family: 'Outfit', system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Fix Chrome Windows phantom horizontal scrollbar */
.will-change-transform {
  will-change: transform;
  transform: translateZ(0);
}
